local decore = require("decore.decore")

---@class entity
---@field TEMPLATE component.TEMPLATE|nil

---@class entity.TEMPLATE: entity
---@field TEMPLATE component.TEMPLATE

---@class component.TEMPLATE
decore.register_component("TEMPLATE", {
	gravity_x = 0,
	gravity_y = 0,
})

---@class system.TEMPLATE: system
---@field entities entity.TEMPLATE[]
local M = {}


---@static
---@return system.TEMPLATE
function M.create_system()
	return decore.system(M, "TEMPLATE", { "TEMPLATE" })
end


return M
